<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <h1>About Us</h1>
    <h2>Made with EJS</h2>

    <%- include('../partials/footer'); %>    
</body>
</html>