<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="getUsers()">
    <h1>Users (frontend version)</h1>
    <div id="userlist"></div>

    <script>
        function getUsers() {
            fetch('http://localhost:5001/api/users')
            .then(response => response.json())
            .then(data => {
                let div = document.getElementById("userlist")
                for(let i = 0; i < data.length; i++) {
                    let p = document.createElement('p')
                    p.innerHTML = data[i]['username']
                    div.appendChild(p)
                }
            })
        }
    </script>
</body>
</html>